.Banner {
    border-radius: 15px;
    background: #F79192;
    color: white;
    width: 95%;
    margin: auto;
    padding: 50px;
    .section1 {
        display: flex;
        width: 100%;
        align-items: center;
        .left {
            width: 50%;
            h3 {
                color: #FFF;
                // font-family: SF Pro Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 86px;
                /* 122.857% */
                letter-spacing: 0.7px;
            }
            p {
                color: #E8E8E8;
                // font-family: SF Pro Display;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                /* 155.556% */
            }
        }
        .right {
            text-align: center;
            width: 50%;
        }
        .picture {
            width: inherit;
            height: auto;
        }
    }
}
@media (max-width:767px){
    .Banner{
padding: 0 !important;
        .section1{
            display: block !important;
            .left,.right{
            width: 100% !important;
        }
        h3{
            font-size: 37px !important;
        }
    }
}
}