.FooterSection {
    background: #0E1122;
    color: white;
    padding: 20px;

    .footer_inner {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }
    .icon{
        margin: 0px 10px;
    }
}