.Landing{
    margin: 30px 0px;
    .Video_Banner{
        // width: 90%;
        // margin: auto;
        .video_banner_inner{
            background: linear-gradient(90deg, rgb(61 3 3) 2%, rgba(0,0,0,1) 48%, rgb(70 13 15) 99%);
        }
    }
    .backgroundImage{
        color: #fff;
        background-position: center;
        padding: 150px;
        background-image: linear-gradient(
        103.92deg,
        rgba(145, 130, 86, 0.1) 0.7%,
        #0c2e3b 100%
      ),
      url("../../public/assets/storybank.png");
    }
    .main{
        // margin: 30px 0px;
        padding: 50px 0px;
        .section1{
            display: flex;
            justify-content: space-between;
            width: 100% !important;
            .imagesss{
                width: 80%;
                margin: 20px;

            }
            img{
                width: 100% !important;
                height: 300px !important;
                
            }
            .content{
                align-self: center;
                width: 70% ;
                margin: 30px;
            }
            .button_theme{
                width: 20%;
            }
        }
        .section3{
            width: 100% !important;
            text-align: center;
        }
        .paraText{
            margin-top: 20px;
            font-size: 19px;
        }
        .linkText{
            margin-top: 15px;
            margin-bottom: 15px;
            color: rgb(24, 79, 120);
        }
        .boldText{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .section4{
            display: flex !important;
            
        }
        .firstBox{
            box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0 !important;
            padding: 20px;
            margin-right: 12px;
            width: 50% !important;
            text-align: center;
        }
        .boxText{
            color: rgb(237, 27, 36);
        }
        .innerText{
            margin-top: 25px;
            margin-bottom: 10px;
            color: black;
        }
        .buyButton{
            width: 40% !important;
        }
    }
    .exampleText{
        text-align: center;
        color: rgb(237, 27, 36);
    }
    @media (max-width:767px) {
        .main{
            padding: 10px 0px;
            .section1{
                display: block !important;
                width: 100% !important;
                .imagesss{
                    width: 100% !important;
                    margin: auto !important ;
                    padding: 10px !important;
                }
                .content{
                    width: 100% !important;
                    margin: auto !important;
                    padding: 10px !important;
                }
               .btnStarted{
                width: 100% !important;
                margin-top: 10px !important;
               }
            }
            .reverse{
                display: flex !important;
                flex-direction: column !important;
                flex-direction: column-reverse !important;
               }
        }
    }
}