.Landing {
    margin: 30px 0px;
    .Video_Banner {
        .video_banner_inner {
            background: linear-gradient(90deg, rgb(61 3 3) 2%, rgba(0, 0, 0, 1) 48%, rgb(70 13 15) 99%);
        }
    }
    .videos{
        text-align: -webkit-center;
    }
    .backgroundImage {
        margin: 20px 0px;
        color: #fff;
        background-position: center;
        background-size: cover;
        padding: 150px;
        background-image: linear-gradient(103.92deg,
                rgba(145, 130, 86, 0.1) 0.7%,
                #0c2e3b 100%),
            url("../../public/assets/storybank.png");
    }
    .main {
        // margin: 30px 0px;
        padding: 50px 0px;
        // .section1 {
        //     display: flex;
        //     justify-content: space-between;
        //     width: 100% !important;
        //     img {
        //         width: 100% !important;
        //         height: 300px !important;
        //     }
        //     .content {
        //         align-self: center;
        //         width: 70%;
        //         margin: 30px;
        //     }
        //     .button_theme {
        //         width: 20%;
        //     }
        // }

        .Section1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .image {
                // height: 200px;
                width: 100% !important;
                height: 100% !important;
                // width: 508px;
              //   width: -webkit-fill-available;
                padding: 10px !important;
              }
              img{
                width: 100% !important;
                height: 100% !important;
              }
            .h1 {
              background-color: #E8EEF2;
              // width: 50px;
              // height: 50px;
              font-size: larger !important;
              text-align: center;
              border-radius: 100px;
              margin: 0;
              width: fit-content;
              padding: 0px 12px;
            }
        
            .btn {
              border-radius: 12px;
              background: #EE2325;
              border: none !important;
            }
        
            .HomeRight {
              width: 65% !important;
              padding: 10px !important;
        
              .title {
                margin-bottom: 10px;
              }
        
              .content {
                font-weight: 400;
                font-size: 20px;
        
                .heading {
                  display: flex;
                  align-items: center;
                  h1 {
                    font-size: smaller;
                    font-weight: bolder;
                  text-align: left !important;
                    margin: 0;
        
                  
                }}}
        
              }
        
              .Homeleft {
                width: 35% !important;
        
                // margin: 0px 10px;
              
              }
            }
        .section3 {
            margin: 40px 0px;
            width: 100% !important;
            text-align: center;
        }
        .paraText {
            margin-top: 20px;
            text-align: left;
            font-size: 19px;
        }
        .linkText {
            margin-top: 15px;
            margin-bottom: 15px;
            color: rgb(24, 79, 120);
        }
        .boldText {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .section4 {
            margin: 40px 0px;
            // display: flex;
        }
        .firstBox {
            box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
            padding: 20px;
            // width: 50% ;
            height: 300px;
            margin: auto;
            text-align: center;
        }
        .boxText {
            color: rgb(237, 27, 36);
        }
        .innerText {
            margin-top: 25px;
            margin-bottom: 10px;
            color: black;
        }
        .buyButton {
            width: 40% !important;
        }
    }
    .exampleText {
        margin: 50px 0px;
        text-align: center;
        color: rgb(237, 27, 36);
    }

    @media (max-width:767px) {
        .backgroundImage{
            padding: 0 !important;
        }
        .section4{
            display: block !important;
            .firstBox{
                width: 100% ;
            }
        }
        .main {
            padding: 10px 0px;

            .Section1 {
                flex-direction: column-reverse;
        
                .image {
                  height: 165px !important;
                  width: 100% !important;
                }
        
                .HomeRight {
                  width: 100% !important;
                  margin: 15px 0;
        
                  .content {
                    font-size: 16px;
                  }
                }
        
                .Homeleft {
                  width: 100% !important;
                }
              }
        
              .reverse {
                flex-direction: column;
              }
            // .section1 {
            //     display: block !important;
            //     width: 100% !important;
            //     .imagesss {
            //         width: 100% !important;
            //         margin: auto !important;
            //         padding: 10px !important;
            //     }
            //     .content {
            //         width: 100% !important;
            //         margin: auto !important;
            //         padding: 10px !important;
            //     }
            //     .btnStarted {
            //         width: 100% !important;
            //         margin-top: 10px !important;
            //     }
            // }

            // .reverse {
            //     display: flex !important;
            //     flex-direction: column !important;
            //     flex-direction: column-reverse !important;
            // }
        }
    }
}