.chatWidget {
  position: fixed;
  bottom: 90px;
  right: 24px;
  z-index: 1000;
}

.toggleButton {
  background: #c8232c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background 0.3s;
  position: absolute;
  right: 0;
margin: 10px 0px;

  &:hover {
    background: #c8232c;
  }
}
