// .Navsection {

.NavbarSection {
	margin-bottom: 20px;

	position: sticky;
	top: 0;
	z-index: 1111;

	.link {
		font-weight: 400;
		font-size: 18px;
		text-decoration: none;
		color: inherit;
	}

	.navspace {
		margin: 0px 10px;
	}

	.Logotype {
		margin: 0px 20px 0 0;
		color: #daab1f;

		h1 {
			font-size: 30px;
			font-family: "Century";
			font-weight: bold;
			margin-bottom: 0;
			margin-top: 5px;
		}

		span {
			color: #0c2e3b;
		}
	}

	.navbar-toggler {
		background: transparent !important;
		border: none !important;
		transition: none;
	}

	.navbar-toggler:focus {
		box-shadow: none !important;
	}

	.navbackground {
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);

		.nav-link {
			color: black;
			font-size: 18px;
			font-weight: 400;
		}

		.loginbtn {
			background: var(--primary);
			border: none;
			color: var(--light) !important;
			font-size: 18px;
			font-weight: 500;
			margin: 0px 15px 0 10px;
			border-radius: 7px;
			padding: 5px 15px;
			align-self: center;
		}
	}

	.ProfileImage {
		width: 50px;
		height: 20px;
	}

	.wallet-button-container {
		display: flex;
		align-items: center;

		.wallet-button {
			border: none;
			margin: auto 30px;

			.rupay-icon {
				color: #daab1f;
			}

			.wallet-icon {
				color: #daab1f;
			}

			background-color: #0c2e3b;
		}
	}

	.button-link {
		font-weight: 400;
		font-size: 18px;
		text-decoration: none;
		color: inherit;
	}

	.profilepic {
		cursor: pointer;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}

@media screen and (min-width: 992px) {
	.Hamburger {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.navspace {
		margin: 0px 0px !important;
	}
}

@media (max-width: 767px) {
	.loginbtn {
		margin-bottom: 10px !important;
	}

	.profilepic {
		margin-top: 10px;
	}

	@media (min-width: 1024px) {
		.NavbarSection {
			width: 100% !important;

			.link {
				font-size: 14px !important;
				color: white !important;
			}
		}
	}
}