/* Navbar Container */
.navbar {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 50;
  background: linear-gradient(135deg, #d6e1e7, #dbe5ea);
  border-bottom: 2px solid #f0d9d6;
}

/* Main content alignment */
.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Style */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #0e4766;

  padding: 4px 14px;
  // border: 2px solid #0e4766;
  border-radius: 6px;

  text-decoration: none;
}

/* Desktop Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 768px) {
    display: none;
  }
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;

  transition: 0.2s ease;

  &:hover {
    color: #035a8e;
  }
}

/* Login Button */
.loginBtn {
  background: #e31515;
  color: #fff;
  border: none;
  font-weight: 600;

  padding: 8px 22px;
  border-radius: 8px;

  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #c90e0e;
  }
}

/* Mobile Toggle Button */
.mobileToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}

/* Mobile Menu */
.mobileMenu {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 15px 40px;
  }
}

.mobileLink {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.mobileLoginBtn {
  background: #e31515;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
